body {
  font-size: 18px; 
  line-height: 1.5;
  font-family: 'Asap', sans-serif;
  background-color: #fdfdfd;
  color: #1d1d1d;
  min-width: 350px;
  margin-top: 0;
}

body.dark-mode {
  background-color: #0B1416;
  color: #fdfdfd;
}

html::-webkit-scrollbar {
  display: none;
}

.parent{
  padding: 0vh 5vw;
  align-self: center;
  align-items: flex-start;
}

.left-child{
  margin-top: 8vh;
}

.right-child{
  margin-bottom: 8vh;
}
.false-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.landing-introduction h1 {
  display: inline-block;
  font-weight:bolder;
  font-size: 3rem;
  width: fit-content;
  margin: 0px;
}

.landing-introduction h4 {
  width: fit-content;
  font-size: 1.3rem;
  margin:0px;
}

.landing-introduction p {
  font-size: 0.8 rem; 
  margin-top: 5px;
}

.socials{
  padding-top: 5px;
}

.icon{
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
  opacity: 75%;
}

.icon:hover{
  opacity: 100%;
}

.info-section{
  margin-top: 8vh;
}

.education h2,
.experience h2,
.projects h2 {
  border-left: 5px solid #0ba7f5;
  padding-left: 9px;
}

.education h4,
.experience h4,
.projects h4 {
  margin: 2px 0px;
}

.education p,
.education h3,
.experience p,
.experience h3,
.projects p,
.projects h3 {
  margin: 0px;
  line-height: 1.2;
}

.date{
  font-weight: lighter;
  opacity: 95%;
}

.sub-heading{
  font-size: 1.2rem;
}

#desc{
  opacity: 80%;
  margin-top: 9px;
}

.switch {
  display: inline-block;
  position: relative;
  margin: 0vw 0.9vw;
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 0.8rem;
  background-color: #2B2B2B;
  border: 5px solid #5B5B5B;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7B7B7B;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(#000000, 0.2) inset;

  &::before,
  &::after {
      position: absolute;
      content: '';
      display: block;
      background-color: #FFFFFF;
      border-radius: 9999px;
  }

  &::before {
      top: 7px;
      left: 7px;
      width: 9px;
      height: 9px;
      background-color: #FFFFFF;
      opacity: 0.6;
  }

  &::after {
      bottom: 8px;
      right: 6px;
      width: 14px;
      height: 14px;
      background-color: #FFFFFF;
      opacity: 0.8;
  }
}

.switch__decoration {
  position: absolute;
  top: 65%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 9999px;
  animation: twinkle 6.2s infinite -0.6s;

  &::before,
  &::after {
      position: absolute;
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      background-color: #FFFFFF;
      border-radius: 9999px;
  }

  &::before {
      top: -20px;
      left: 10px;
      opacity: 1;
      animation: twinkle 8.6s infinite;
  }

  &::after {
      top: -7px;
      left: 30px;
      animation: twinkle 4.6s infinite -0.2s;
  }
}

@keyframes twinkle {
  50% { opacity: 0.2; }
}

.switch__indicator {
  &,
  &::before,
  &::after {
      transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
  }
}

.switch__input:checked + .switch__label {
  background-color: #8FB5F5;
  border-color: #347CF8;

  .switch__indicator {
      background-color: #ECD21F;
      box-shadow: none;
      transform: translate(-50%, -50%) translateX(72%);

      &::before,
      &::after {
          display: none;
      }
  }

  .switch__decoration {
      top: 50%;
      transform: translate(0%, -50%);
      animation: cloud 8s linear infinite;

      width: 20px;
      height: 20px;

      &::before {
          width: 10px;
          height: 10px;
          top: auto;
          bottom: 0;
          left: -8px;
          animation: none;
      }

      &::after {
          width: 15px;
          height: 15px;
          top: auto;
          bottom: 0;
          left: 16px;
          animation: none;
      }

      &,
      &::before,
      &::after {
          border-radius: 9999px 9999px 0 0;
      }

      &::after {
          border-bottom-right-radius: 9999px;
      }
  }
}

@keyframes cloud {
  0% {
      transform: translate(0%, -50%);
  }
  50% {
      transform: translate(-50%, -50%);
  }
  100% {
      transform: translate(0%, -50%);
  }
}

.project-tile {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 5px;
}

.project-tile h3,
.project-tile p {
  margin-left: 5px;
}

.project-tile:hover {
  transform: translate(9px, -6px);
  box-shadow: -3px 3px 10px #347cf82e;
}

.project-image{
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  margin: 10px 0px;
}

@media screen and (min-width: 1023px) {
  .parent{
    display: flex;
    justify-content:center
  }

  .left-child{
    max-width: 500px;
    position: sticky;
    top: 8vh;
  }

  .right-child{
    max-width: 800px;
    margin-left: 80px;
    padding: 0px;
  }

} 